body{
    background-color: darkcyan;
    text-align: center;
}

.m {
    height:18vmin;
    width:18vmin;
    font-size: 8vmin;
    background-color: blueviolet;
    border-radius: 1rem;
    color: red;
    transition: background-color 0.3s;
}
button:focus, button:active {
    outline: none;
}
#msg{
    color: bisque;
    display:lets play;
    font-size: 10vmin;
}
#c{
    height: 20vmin;

}

.box{
    height: 60vmin;
    width: 60vmin;
    background-color: beige;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1.5vmin;
}
h1{
    text-decoration: wavy;
    text-shadow: 0.8in;
    color:black;
    text-align: center;
}
.con{
    display: flex;
    justify-content: center;
    align-items: center;
}